@media (max-width: 576px) {
    .hide-on-small {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .hide-on-medium {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .hide-on-big {
        display: none !important;
    }
}

.common-field-width {
  width: 320px
}

.nav-link {
    text-decoration: none;
}

.menu-button{
    border:none;
    margin-right: 1.2rem!important;
}

.selected-menu-btn{
    border:none;
    margin-right: 1.2rem!important;
    border: 1px solid #ffffff!important;
}
